/*GENERAL */
body {
	background-color:red; 
 	background-color:white;
 	margin: 0;

}

nav.nav-link:hover {
color:#D98310
}

/* NAV */
nav.navbar {
	background-color:rgba(255,255,255,0.1); 
	border: none;
	position: fixed;
	width: 100%;

}

nav.btn-outline-success1 {
	background-color: 
}

nav.btn-outine-sucsess1:hover {
	background-color: rgba(0,0,0,0);
	border: 10px  solid 
}



/** HERO **/
.hero {
 min-height: 20vh;
 height: 50vh;
 display: flex;
 display: -webkit- flex;
 display: -ms-flex;
 flex-direction:column;
 -webkit- flex-direction:column;
-ms- flex-direction:column;
 justify-content: center;
-webkit- justify-content: center;
 -ms-justify-content: center;
 align-items: center;
-webkit- align-items: center;
-ms- align-items: center;
 background-color:black;
 padding:20px;
/**/
}
/* #D98310 */
.heroInner {
	text-align: center;
	max-width: 400px;
	width: 90vh;
}

.hero h1,h2,a,p{
 color:white;
}

.hero a {
  text-decoration: none;
  color:black;
  border:white 5px solid;
  background-color:white;
  border-radius: 10%;
}

