/*GENERAL */
/** FONTS
	font-family: 'Nunito', sans-serif;
	font-family: 'Righteous', cursive;
**/

/* GENERAL */
*, p, label, a, input, li {
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous', cursive;
}


body {
	background-color:red; 

}

/**BODY**/
body {
 background-color:white;
 margin: 0;

}

/** HERO **/
.hero {
 min-height: 20vh;
 height: 50vh;
 display: flex;
 display: -webkit- flex;
 display: -ms-flex;
 flex-direction:column;
 -webkit- flex-direction:column;
-ms- flex-direction:column;
 justify-content: center;
-webkit- justify-content: center;
 -ms-justify-content: center;
 align-items: center;
-webkit- align-items: center;
-ms- align-items: center;
 background-color:black;
 padding:20px;

}

.heroInner {
	text-align: center;
	max-width: 400px;
	width: 90vh;
}

.hero h1,
.hero h2,
.hero a,
.hero p {
 color:white;
}

.hero a {
  text-decoration: none;
  color:black;
  border:white 5px solid;
  background-color:white;
  border-radius: 10%;
}

.hero hr {
	color:white;
}