<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 adminSidebar" ng-init="adminSelect = 'adminWelcome' ">
            <h2>Admin</h2>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" ng-click="adminSelect = 'hero'">HERO</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false" ng-click="adminSelect = 'nav'">NAVBAR</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" role="tab" aria-controls="v-pills-messages" aria-selected="false" ng-click="adminSelect = 'footer'">FOOTER</a>
                <a class="nav-link show" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" ng-click="adminSelect = 'topGames'">TOP GAMES</a>
                <a class="nav-link show" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" ng-click="adminSelect = 'newGames'">NEW GAMES</a>
            </div>
        </div>
        <div class="admin col-sm-12 col-md-9 col-lg-10">
            <div class="adminWrap">
                
                <div class="adminWrapper adminWelcome" ng-show="adminSelect == 'adminWelcome'">
                    <h2>Welcome!</h2>
                    <p>Welcome to the Admin page!</p>
                    <p>We hope you're supposed to be here!</p>
                    <p>Use the navbar on the side to navigate throughout the admin cards, and just edit the inputs to edit the website. Once you're finished, press the "submit" button to finalise your changes.</p>
                    <p>Be sure double check your work before you submit it!</p>
                </div>
                <div class="innerAdmin">
                    <div class="adminWrapper heroAdmin" ng-show="adminSelect == 'hero'">
                        <h2>Hero</h2>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label>Hero Title: </label>
                                <input type="" name="" ng-model="siteInfo.hero.heroTitle">
                            </li>
                            <li class="list-group-item">
                                <label>Hero Subtitle: </label>
                                <input type="" name="" ng-model="siteInfo.hero.heroSubtitle">
                            </li>
                            <li class="list-group-item">
                                <label>Button 1 href: </label>
                                <input type="" name="" ng-model="siteInfo.hero.heroBtn1.href">
                            </li>
                            <li class="list-group-item">
                                <label>Button 1 text: </label>
                                <input type="" name="" ng-model="siteInfo.hero.heroBtn1.text">
                            </li>
                            <li class="list-group-item">
                                <label>Button 2 href: </label>
                                <input type="" name="" ng-model="siteInfo.hero.heroBtn2.href">
                            </li>
                        </ul>
                    </div>
                    <div class="adminWrapper navbarAdmin" ng-show="adminSelect == 'nav'">
                        <h2>Navbar</h2>
                        <label>Navbar Anchor 1: {{siteInfo.navbar.navbarAnchor1.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarAnchor1.href">
                        <label>Navbar Button 1 text: {{siteInfo.navbar.navbarBtn1.text}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarBtn1.text">
                        <label>Navbar Button 1 href: {{siteInfo.navbar.navbarBtn1.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarBtn1.href">
                        <label>Navbar Button 1 text: {{siteInfo.navbar.navbarBtn2.text}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarBtn2.text">
                        <label>Navbar Button 1 href: {{siteInfo.navbar.navbarBtn2.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarBtn2.href">
                        <label>Navbar Dropdown 1 text: {{siteInfo.navbar.navbarDropdown1.text}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.text">
                        <label>Navbar Dropdown 1 href: {{siteInfo.navbar.navbarDropdown1.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.href">
                        <label>Navbar Dropdown items 1 text: {{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem1.text}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem1.text">
                        <label>Navbar Dropdown items 1 href: {{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem1.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem1.href">
                        <label>Navbar Dropdown items 2 text: {{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem2.text}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem2.text">
                        <label>Navbar Dropdown items 2 href: {{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem2.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem2.href">
                        <label>Navbar Dropdown items 3 text: {{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem3.text}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem3.text">
                        <label>Navbar Dropdown items 3 href: {{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem3.href}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownItem3.href">
                        <label>Navbar input 1 label: {{siteInfo.navbar.navbarInput1.label}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarInput1.label">
                        <label>Navbar input 1 placeholder: {{siteInfo.navbar.navbarInput1.placeholder}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarInput1.placeholder">
                        <label>Navbar input 1 type: {{siteInfo.navbar.navbarInput1.type}}</label>
                        <input type="" name="" ng-model="siteInfo.navbar.navbarInput1.type">
                    </div>
                    <div class="adminWrapper classreators" ng-show="adminSelect == 'footer'">
                        <h2>Footer</h2>
                        <label>Footer about heading: {{siteInfo.footer.footerAbout.footerAboutHeading}}</label>
                        <input type="" name="" ng-model="siteInfo.footer.footerAbout.footerAboutHeading">
                        <label>Footer about body: {{siteInfo.footer.footerAbout.footerAboutBody}}</label>
                        <input type="" name="" ng-model="siteInfo.footer.footerAbout.footerAboutBody">
                        <label>Footer contact form heading: {{siteInfo.footer.footerContact.footerContHeading}}</label>
                        <input type="" name="" ng-model="siteInfo.footer.footerContact.footerContHeading">
                    </div>
                    <div class="adminWrapper topGames" ng-show="adminSelect == 'topGames'">
                        <h2>Top Games</h2>
                    </div>
                    <div class="adminWrapper newGames" ng-show="adminSelect == 'newGames'">
                        <h2>New Games</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>