<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{siteInfo.navbar.navbarAnchor1.href}}"><img src="{{siteInfo.navbar.navbarAnchor1.img}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{siteInfo.navbar.navbarBtn1.href}}">{{siteInfo.navbar.navbarBtn1.text}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{siteInfo.navbar.navbarBtn2.href}}">{{siteInfo.navbar.navbarBtn2.text}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Games
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownitem1.href}}">{{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownitem1.text}}</a>
                        <a class="dropdown-item" href="{{siteInfo.navbar.navbarDropdown2.navbarDropdownItems.dropdownitem2.href}}">{{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownitem2.text}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownitem3.href}}">{{siteInfo.navbar.navbarDropdown1.navbarDropdownItems.dropdownitem3.text}}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" ng-show="user">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/profile">Profile</a>
                        <div class="dropdown-divider" ng-show="profile.role == 'editor' || profile.role == 'admin' "></div>
                        <a class="dropdown-item" href="#!/upload" ng-show="profile.role == 'editor' || profile.role == 'admin' ">Upload</a>
                        <a class="dropdown-item" href="/#!/admin" ng-show="profile.role == 'admin' ">Admin</a>
                    </div>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="#!/login" ng-show="!user">Login</a>
                </li>
                <li class ="nav-item">
                    <a class="nav-link" href="#" ng-show="user" ng-click="logout()">Logout</a>
                </li>
            </ul>
            <a href="#!/profile">
                <div class="navPhoto" ng-show="user" style="background-image: url({{user.photoURL}});"></div>
            </a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 mySearch" type="search" placeholder="Search Game/Developer" aria-label="Search" ng-model="searchItem">
            </form>
        </div>
    </nav>
    <!-- HERO--->
    <div class="hero">
        <div class="heroInner">
            <h1>CodingKids IO</h1>
            <hr>    
            <h2>By kids for kids</h2>
            <a class="button buttonDark" href="#!/topgames">Top games</a>
            <a class="button buttonLight " href="#!/login">Log in!</a>
        </div>
    </div>
