<div class="gameSpaceWrapper container-fluid">
	
	<div class="row" ng-init="bigScreen = true">
		<!-- FIRST SECTION -->
		<div class="gameSpaceBoxOuter aboutGame col-sm-12" ng-show="selectedGame">
			<h2>{{selectedGame.name}}</h2>
			<p>est: {{selectedGame.date}}</p>
			<button ng-click="fullScreen(selectedGame); bigScreen = !bigScreen" ng-show="bigScreen">FullScreen</button>
			<button ng-click="minScreen(); bigScreen = !bigScreen" ng-hide="bigScreen">Minimise Screen</button>
			<iframe class="iframeGame" id="iframeGame">
			</iframe>

			<div class="gameSpaceBox">
				<h3>Game Info</h3>
				<p>Author: {{selectedGame.author}}</p>
				<p>{{selectedGame.description}}</p>
			</div>

		</div>
		<!-- FIRST SECTION -->
		<div class="gameSpaceBoxOuter aboutGame col-sm-12" ng-hide="selectedGame">
			<h2>No Game Selected, Please go to Home screen.</h2>
		</div>
	</div>

</div>